<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PriSchLecs User</title>
</head>
<body>
    <div >
        <div id="app" class="container-fluid"></div>
        <script src="~/dist/vendor.js" asp-append-version="true"></script>
        <script src="~/dist/main.js" asp-append-version="true"></script>

        <link href="~/dist/0.app.style.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/dist/app.style.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/dist/style.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/dist/vendor.css" rel="stylesheet" asp-append-version="true" />
    </div>
</body>
</html>

